@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
    color: #ffffff;
}
/* header css start */
#header{
    width: 100%;
    /* height: 100vh; */
    background-image: url(../Images/Eflyer-bg-banner.png);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}
.nav-cs {
	clip-path: polygon(0 0, 100% 0%, 97% 100%, 4% 100%);
	background-color: #2b2a29;
	top: 0;
	left: 10%;
	margin: 0 auto;
    color: #ffffff;
   
}
.nav{
    --bs-nav-link-hover-color: #ffffff;
}
.nav li{
    margin-left: 30px;
}
.nav li a{
    color: #ffffff;
}
.nav-link:hover{
    color: #ffffff;
}
.logo img{
    padding: 26px 0 !important;
}
.option{
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}
.offcanvas-cs{
    background-color: #aa8200;
    width: 220px !important;
}
.btn i{
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}
.offcanvas-body .nav-item{
    margin: 0;
}
.dropdown .btn-bg{
    background-color: #30302e;
    color: #ffffff;
    border: none;
    outline: none;
}
.src-bar input{
    width: 454px !important;
}
.src-bar button{
    background-color: #f26522;
    outline: none;
}
.src-bar .btn:hover{
    background-color: #f26522;
    color: inherit;
}
.cart-user a{
    font-size: 20px;
}
.cart-user i{
    margin-right: 5px;
}
.left-arow i ,.right-arow i{
    font-size: 23px;
    background-color: #f2deac;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    position: relative;
    top: 35%;
}
.left-arow i{
    
}
.banner-text h2{
    font-size: 52px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 120px;
    padding-bottom: 70px;

}
.btn-1{
    background-color: #2b2a29;
    padding: 25px 70px;
    display: inline-block;
    border-radius: 15px;
    font-size: 23px;
}
.banner-text h3{
    font-size: 40px;
    font-weight: bold;
    color: #2b2a29;
    padding-top: 85px;
    margin: 0;
}
/* header css end */
/* ------Fashion css start ------ */
#fashion{
    width: 100%;
}
#fashion .t-shirt{
    width: 360px;
    padding: 15px;
    box-shadow: -1px 3px 67px -21px #2b2a29;
}
#fashion .t-shirt h4{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#fashion .t-shirt p{
    font-size: 18px;
    text-align: center;
    padding-bottom: 25px;
}
#fashion .t-shirt p span{
    color: #f26522;
    margin-right: 5px;
}
#fashion .t-shirt a{
    color: #f26522;
    margin-right: 165px;
}
#fashion .t-shirt img{
    margin-bottom: 25px;
}
#fashion .men-shirt{
    width: 360px;
    padding: 15px;
    box-shadow: -1px 3px 67px -21px #2b2a29;
}
#fashion .men-shirt h4{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#fashion .men-shirt p{
    font-size: 18px;
    text-align: center;
    padding-bottom: 25px;
}
#fashion .men-shirt p span{
    color: #f26522;
    margin-right: 5px;
}
#fashion .men-shirt a{
    color: #f26522;
    margin-right: 165px;
}
#fashion .men-shirt img{
    margin-bottom: 25px;
}
#fashion .scart{
    width: 360px;
    padding: 15px;
    box-shadow: -1px 3px 67px -21px #2b2a29;
}
#fashion .scart h4{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#fashion .scart p{
    font-size: 18px;
    text-align: center;
    padding-bottom: 25px;
}
#fashion .scart p span{
    color: #f26522;
    margin-right: 5px;
}
#fashion .scart a{
    color: #f26522;
    margin-right: 165px;
}
#fashion .scart img{
    margin-bottom: 25px;
}
/* ------Fashion css ends ------ */